<<<<<<< HEAD
*{
    font-family: ComicSans;
    overflow-x: hidden;
    box-sizing: border-box;
}

@font-face {
    font-family: ComicSans;
    src: url(./COMIC.TTF);
}

:root {
    --scale-factor: calc((100vw - 320px) / (1920 - 320)); /* Normalized from min 320px to max 1920px */
}

body{
    background-color: #50B8E7;
    color: antiquewhite;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#logo{
    margin-right: 3px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: black;
    vertical-align: middle;
}


.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbtn{
    text-align: center;
    width: 100%;
}
.navbtn .nbtn{
    padding-left: 3vw;
    color: antiquewhite;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}

.title-container #title{
    height: auto;
    max-width: 60vw;
}

button{
    padding: 5px 10px;
    background-color: #84cdee;
    color: antiquewhite;
    font-weight: 800;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    /* transform: translateY(-150px); */
    position: relative;
    transition: transform 0.3s ease; /* Smooth transition */

}
button:active{
    background-color: #6cc7f1;
}



/* Monitor PC 16:9 */
/* @media all and (min-width:769px) and (max-width: 1400px){

} */

/* Phone */
/* @media all and (min-width:0px) and (max-width: 768px){

=======
*{
    font-family: ComicSans;
    overflow-x: hidden;
    box-sizing: border-box;
}

@font-face {
    font-family: ComicSans;
    src: url(./COMIC.TTF);
}

:root {
    --scale-factor: calc((100vw - 320px) / (1920 - 320)); /* Normalized from min 320px to max 1920px */
}

body{
    background-color: #50B8E7;
    color: antiquewhite;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#logo{
    margin-right: 3px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: black;
    vertical-align: middle;
}


.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.navbtn{
    text-align: center;
    width: 100%;
}
.navbtn .nbtn{
    padding-left: 3vw;
    color: antiquewhite;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}

.title-container #title{
    height: auto;
    max-width: 60vw;
}

button{
    padding: 5px 10px;
    background-color: #84cdee;
    color: antiquewhite;
    font-weight: 800;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
    /* transform: translateY(-150px); */
    position: relative;
    transition: transform 0.3s ease; /* Smooth transition */

}
button:active{
    background-color: #6cc7f1;
}



/* Monitor PC 16:9 */
/* @media all and (min-width:769px) and (max-width: 1400px){

} */

/* Phone */
/* @media all and (min-width:0px) and (max-width: 768px){

>>>>>>> 15e3c88 (First Version Control)
} */